@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #5cb9e1;
  font-size: 30px;
}

textarea {
  width: 295px;
  height: 150px;
  border-radius: 10px;
  background-color: ivory;
  border: 1px solid #5cb9e1;
}

input {
  display: block;
  width: 293px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  border: 1px solid #5cb9e1;
}

button {
  display: block;
  width: 301px;
  height: 30px;
  margin-top: 10px;
  background-color: #5cb9e1;
  border: none;
  border-radius: 10px;
  color: #fff;
}

h2 {
  width: 293px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  font-size: 12px;
  background-color: ivory;
  border: 1px solid #5cb9e1;
  text-align: center;
  line-height: 30px;
}

p {
  width: 295px;
  height: 100px;
  border-radius: 10px;
  background-color: ivory;
  border: 1px solid #5cb9e1;
  font-size: 12px;
  text-align: center;
  line-height: 100px;
  text-align: center;
}

p2 {
  color: white;
}
